:root {
  --main-color: rgb(25, 34, 40);
  --secondary-color: rgb(30, 33, 39);
  --main-text-color: rgb(179, 179, 170);
  --secondary-text-color: #b0c7d6;
  --send-message-form: rgb(55, 55, 63);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: 	#3e5869;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 50px;
  grid-template-areas: 
      "r t t t t t t t"
      "r m m m m m m m"
      "r m m m m m m m"
      "r m m m m m m m"
      "r m m m m m m m"
      "n s s s s s s s";
}

.room-title {
  grid-area: t;
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: s;
}

/* REST OF CSS */
.rooms-list {
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--send-message-form);
  overflow: scroll;
  height: 100%;
}

.rooms-list > ul {
  list-style-type: none;    
  padding: 0;
  overflow: scoll;
}

.rooms-list li {
  margin: 10px 0;
}

.rooms-list > h3 {
  margin: 5px 0;
  color: var(--main-text-color);
}

.rooms-list .room p {
  color: var(--secondary-text-color);
  margin-left: 0;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: margin-left 2s ease-in-out, color 2s ease-in-out;
}

.rooms-list .room {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 2s ease-in-out;
}

.rooms-list .room.active {
  background-color: var(--secondary-text-color);
  transition: none;
}

.rooms-list .room.active p {
  margin-left: 10px;
  color: var(--secondary-color);
  transition: none;
  cursor: pointer;
}

.room-title {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

.room-title h4 {
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 10px;
}

.room-title p {
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 10px;
  font-size: 11px;
  opacity: 0.5;
}

.new-room-form {
  padding: 0 5px;
  background: var(--secondary-color);
  color: var(--main-text-color);
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-room-form input {
  width: 135px;
  background: var(--secondary-color);
  color: var(--secondary-text-color);
}

.new-room-form button {
  background: var(--secondary-color);
  color: var(--main-text-color);
  border: 0;
} 

.new-room-form input::placeholder {
  color: var(--main-text-color);
  font-weight: 200;
}

.new-room-form input:focus {
  outline-width: 0;
}

.new-room-form input {
  border: 0;
}

.new-room-form button {
  border: 0;
}

.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: var(--main-text-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: var(--secondary-color);
}

.message-list .join-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 150;
  opacity: 0.2;
}

.send-message-form {
  background: var(--send-message-form);
  display: flex;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: var(--send-message-form);
  font-weight: 200;
  color: var(--main-text-color);
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: var(--main-text-color);
}

.help-text {
  position: absolute;
  top: 10px;
}

.right-side-widget {
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  background-color: var(--secondary-color);
  height: 100%;
}

@keyframes move-from-right {
  from {
    z-index: -1;
    width: 15%;
    opacity: 0;
  }
  to {
    z-index: 1;
    width: 20%;
    opacity: 1;
  }
}

@keyframes move-to-right {
  from {
    z-index: 1;
    width: 20%;
    opacity: 1;
  }
  50% {
    opacity: 0;
    width: 20%;
  }
  85% {
    width: 5%;
    opacity: 0;
  }
  to {
    z-index: -1;
    width: 5%;
  }
}

.right-side-widget-active {
  display: block;
  animation-name: move-from-right;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.right-side-widget-non-active {
  display: block;
  animation-name: move-to-right;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.widget-body {
  color: var(--main-text-color);
  height: 100%;
}

.widget-title {
  position: relative;
  display: inherit;
  margin-top: 0;
  max-height: 49px;
  height: 49px;
  background-color: var(--main-color);
  border-bottom: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

.widget-title h4 {
  margin-block-start: 0px;
  margin-block-end: 5px;
  margin-inline-start: 10px;
}

.widget-title p {
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 10px;
  font-size: 11px;
  opacity: 0.5; 
}

.hysteric-tooltip {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.histeric {
  color: var(--secondary-text-color);
  background-color: var(--main-color);
  border-color: var(--secondary-text-color);
  border-radius: 10px;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.histeric:hover {
  background-color: var(--send-message-form);
}
